<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.ronmurphy.storyteller" version="1.0.0">
    <name>StoryTeller RPG</name>
    <description>A tabletop RPG storytelling and campaign management app</description>
    <author email="dev@ronmurphy.com" href="https://github.com/ronmurphy/DCC-custom">
        Ron Murphy
    </author>
    <content src="index.html"/>

    <!-- Allow navigation -->
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>

    <!-- Allow external navigation for Supabase and other services -->
    <allow-navigation href="https://*.supabase.co"/>
    <allow-navigation href="https://*.github.io"/>

    <!-- Access permissions -->
    <access origin="*"/>

    <!-- Android platform assets -->
    <platform name="android">
<!-- App icons -->
<icon src="res/android/mipmap-mdpi_ic_launcher.png" density="mdpi"/>
<icon src="res/android/mipmap-hdpi_ic_launcher.png" density="hdpi"/>
<icon src="res/android/mipmap-xhdpi_ic_launcher.png" density="xhdpi"/>
<icon src="res/android/mipmap-xxhdpi_ic_launcher.png" density="xxhdpi"/>
<icon src="res/android/mipmap-xxxhdpi_ic_launcher.png" density="xxxhdpi"/>
<icon src="res/android/playstore_ic_launcher.png" density="xxxhdpi"/>

<!-- Splash screens -->
<splash src="res/android/splash-320x480.png" density="ldpi"/>
<splash src="res/android/splash-480x800.png" density="mdpi"/>
<splash src="res/android/splash-720x1280.png" density="xhdpi"/>
<splash src="res/android/splash.png" density="xxhdpi"/>

<!-- Android 12+ adaptive splash -->
<preference name="AndroidWindowSplashScreenAnimatedIcon" value="playstore_ic_launcher.png"/>
<preference name="AndroidWindowSplashScreenBackground" value="#1a1a2e"/>


        <preference name="AndroidWindowSplashScreenBackground" value="#1a1a2e"/>
        
        <!-- Target API levels -->
        <preference name="android-targetSdkVersion" value="33"/>
        <preference name="android-compileSdkVersion" value="35"/>
        
        <!-- Allow cleartext traffic for local development -->
        <preference name="AndroidCleartextTraffic" value="true"/>
        
        <!-- Keep screen on during gameplay -->
        <preference name="KeepRunning" value="true"/>
        
        <!-- Fullscreen preferences for immersive gameplay -->
        <preference name="Fullscreen" value="false"/>
        <preference name="StatusBarOverlaysWebView" value="false"/>
        <preference name="StatusBarBackgroundColor" value="#1a1a2e"/>
    </platform>

    <!-- Plugins -->
    <plugin name="cordova-plugin-whitelist" spec="~1.3.4"/>

</widget>

